@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
:root{
	--primary-color: darkred;
	--secondary-color: darkblue;
}
body{
	font-family: 'Source Sans Pro',sans-serif;
	margin: 0;

	
}

/*Start header*/

header{
	height: 100vh;
	background: linear-gradient(
		30deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0.5)),url('../assets/img/banner/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

/*Start nav bar*/

.navbar{
	background: linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
	padding: 20px 30px;
}

.navmenu{
	background: linear-gradient(rgba(0,0,0,0.6),var(--secondary-color));
    padding: 5px 30px;

    transition: all 0.5s;
}

.menuitems{
	color: #eee;
	font-size: 17px;
	letter-spacing: 1px;
}
.menuitems:hover{
	color:#26c3eb; 
}

.lines1,.lines2,.lines3{
	width: 25px;
	height: 3px;
	margin: 6px;

	transition: all 0.5s;
}

.crossxs .lines1{
	transform: rotate(-45deg)translate(-6px,6px);
}
.crossxs .lines2{
	opacity: 0;
}
.crossxs .lines3{
	transform: rotate(45deg)translate(-6px,-6px);
}


/*End Nav bar*/

/*start banner*/
.banners{
	width: 80%;

	position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}


.bannerheaders{
	animation-name: banani;
	animation-duration: 2s;
}

.bannerparagraphs{
	animation-name: banani;
	animation-duration: 2s;
	animation-delay: 1s;

	animation-fill-mode: backwards;
}


@keyframes banani{
	0%{
		opacity: 0;
		transform: translate(-100px);
	}
	100%{
		transform: translate(0);
		opacity: 1;

	}
}
/*end banner*/

/*End header*/


/*Start About Us*/
   .aboutus{
       background-image: linear-gradient(
       30deg,
       rgba(0,0,0,0.3),
       rgba(0,0,0,0.3)
   ),url('../assets/img/banner/banner2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
   }

/*End About Us*/

/*start clients*/

ul.clientlists{
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: center;
}

ul.clientlists li{
	background-color: #f4f4f4;
   border: 5px solid #777;
   padding: 5px 10px;
   margin: auto;
}

ul.clientlists img{
	width: 100px;
}

ul.clientlists li:hover{
	border-color: var(--secondary-color);
	box-shadow: 3px -5px 0 rgba(0,0,0,0.3);
}

@media(max-width: 768px){
	 ul.clientlists li{
	background-color: #f4f4f4;
   border: 2px solid #777;
   padding: 5px 10px;
   margin: 0 5px;
}

ul.clientlists img{
	width: 100px;
}

ul.clientlists li:hover{
	border-color: var(--secondary-color);
	box-shadow: 1px -2px 0 rgba(0,0,0,0.3);
}
}

/*end clients*/